body {
	background-color: #e7f6ff;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}

.title {
	font-size: 32px;
	font-weight: 700;
	line-height: 39px;
}

.wrapper {
	padding: 45px 0;
	max-width: 1080px;
	margin: 85px auto;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.header {
	padding: 0 45px 40px;
	margin-bottom: 45px;
	border-bottom: 1px solid rgb(234, 234, 234);
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		display: flex;
		column-gap: 16px;
		cursor: pointer;
	}
	&__logo-title {
		h2 {
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
		}
		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			color: #9d9d9d;
		}
	}
	&__list {
		display: flex;
		column-gap: 30px;
		li {
			display: flex;
			align-items: center;
			column-gap: 10px;
			cursor: pointer;
		}
	}
}

.content {
	padding: 0 45px;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		flex-wrap: wrap;
	}
}

.search-block {
	position: relative;
	&__input {
		padding: 15px 45px;
		border: 1px solid rgb(243, 243, 243);
		border-radius: 10px;
	}
	&::before {
		position: absolute;
		content: "";
		width: 15px;
		height: 15px;
		background-image: url("../../public/img/icons/search.svg");
		background-repeat: no-repeat;
		top: 15px;
		left: 15px;
	}
}

.card {
	border: 1px solid rgb(243, 243, 243);
	padding: 50px 30px 20px;
	border-radius: 40px;
	display: inline-block;
	position: relative;
	transition: all 0.3s ease-in-out;
	&:hover {
		box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
		border-color: transparent;
		transform: translateY(5px);
	}
	&__favorite {
		position: absolute;
		top: 15px;
		left: 15px;
		cursor: pointer;
	}
	&__image {
		position: relative;
		transform: translateX(-50%);
		left: 50%;
	}
	&__text {
		max-width: 150px;
		margin: 15px 0;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__price {
		display: flex;
		flex-direction: column;
		span {
			font-size: 11px;
			font-weight: 500;
			line-height: 13px;
			color: #bdbdbd;
			text-transform: uppercase;
		}
	}
	&__addCart {
		cursor: pointer;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
	&.active {
		display: block;
	}
}

.drawer {
	width: 385px;
	background: rgb(255, 255, 255);
	box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 0;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	h3 {
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
	}
	&__close {
		cursor: pointer;
	}
	&__total-item {
		display: flex;
		margin-bottom: 20px;
		div {
			flex: 1;
			border-bottom: 1px dashed rgb(223, 223, 223);
		}
	}
	&__total-btn {
		width: 100%;
		padding: 20px 40px;
		border: none;
		background-color: #9dd558;
		border-radius: 18px;
		color: #fff;
		position: relative;
		transition: all 0.3s;
		cursor: pointer;
		&:hover {
			background-color: lighten(#9dd558, 10%);
			&::after {
				transform: translateX(10px);
			}
		}
		&::after {
			position: absolute;
			transition: all 0.3s;

			content: "";
			width: 16px;
			height: 14px;
			background-image: url("../../public/img/icons/arrow-right.svg");
			top: 20px;
			right: 30px;
		}
	}
}

.cart {
	flex: 1;
	overflow: auto;
	margin-bottom: 40px;
	&__item {
		display: flex;
		padding: 20px;
		justify-content: space-between;
		align-items: center;
		border: 1px solid rgb(243, 243, 243);
		border-radius: 20px;
		margin-bottom: 20px;
	}
	&__item-close {
		cursor: pointer;
	}
}
