.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.drawer {
	width: 385px;
	background: rgb(255, 255, 255);
	box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 0;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	h3 {
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
	}
	&__close {
		cursor: pointer;
	}
	&__total_item {
		display: flex;
		margin-bottom: 20px;
		div {
			flex: 1;
			border-bottom: 1px dashed rgb(223, 223, 223);
		}
	}
	&__total_btn {
		width: 100%;
		padding: 20px 40px;
		border: none;
		background-color: #9dd558;
		border-radius: 18px;
		color: #fff;
		position: relative;
		transition: all 0.3s;
		cursor: pointer;
		&:disabled {
			background-color: #bebebe;
			animation: button-loading 0.6s ease-in-out infinite;
		}
		&:hover {
			background-color: lighten(#9dd558, 10%);
			&::after {
				transform: translateX(10px);
			}
		}
		&::after {
			position: absolute;
			transition: all 0.3s;

			content: "";
			width: 16px;
			height: 14px;
			background-image: url("../../../public/img/icons/arrow-right.svg");
			top: 20px;
			right: 30px;
		}
	}
}

.cart {
	flex: 1;
	overflow: auto;
	margin-bottom: 40px;
	&__item {
		display: flex;
		padding: 20px;
		justify-content: space-between;
		align-items: center;
		border: 1px solid rgb(243, 243, 243);
		border-radius: 20px;
		margin-bottom: 20px;
	}
	&__item_close {
		cursor: pointer;
	}
	&__empty {
		text-align: center;
		width: 245px;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		img {
			display: inline-block;
		}
		&_title {
			margin: 20px 0 10px;
			font-size: 22px;
			font-weight: 600;
			line-height: 27px;
		}
		&_text {
			opacity: 0.4;
			margin-bottom: 40px;
		}
		&_button {
			border: none;
			background-color: #9dd558;
			padding: 18px 30px;
			position: relative;
			border-radius: 18px;
			color: #fff;
			cursor: pointer;
			width: 100%;
			transition: all 0.3s;
			&:hover {
				background-color: lighten(#9dd558, 10%);
				&::before {
					transform: translateX(-10px);
				}
			}
			&::before {
				position: absolute;
				transition: all 0.3s;
				content: "";
				width: 16px;
				height: 14px;
				background-image: url("../../../public/img/icons/arrow-left.svg");
				top: 19px;
				left: 30px;
			}
		}
	}
}

@keyframes button-loading {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
}
